* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }
.main-flex {
    display: flex;
 }
 nav {
     width: auto;
 }
ul{
    text-decoration: none;
    list-style: none;
}
.star {
    height: 70px;
    width: 70px;
    background-color: brown;
}
.header {
    width: 100%;
}
.food {
    padding-top: 30px;
    width: 70%;
    justify-content: space-evenly;
}
button {
    margin-top: 20px;
}
.street {
    margin-left: 45px;
}
.one {
    margin-top: 15px;
    margin-bottom: 10px;
}
.eating{
    width: 500px;
    height: 300px;
}
.float {
    margin-top: 30px;
    margin-bottom: 60px;
}
.eat{
    text-align: center;
    margin-right: -90px;

}
.together {
    margin-right: 90px;
}
button{
    height: 7vh;
    width: 17vh;
    border-radius: 15vh;
    background-color: #6CB840;
    color: white;
    font-size: 15px;
}
#head2{
    color: #6CB840;
}
#head1{
    color:   #EAAB1B;
    
}
.paragraph{
    padding-left: 30%;
    background-color: #6CB840;
}

#menu{
    text-align: center;
    display: grid;

}
#image1,#image2,#image3,#image4,#image5,#image6{
    height: 100px;
    width: 100px;
}
.send{
    background-color: #6CB840;
}
.flexcontainer1 {
    display: flex;
    flex-wrap: wrap;
}
.contact{
    background-color: #FFD77C;
    border: 2px;
    text-align: center;
    justify-content: center;
    margin-left:70px;
    margin-right: 70px;
    margin-bottom: 60px;
    padding-top: 100px;
    padding-bottom: 90px;
}
.pack{
    color:#6CB840;
}
.item-1{
    position: absolute;
    bottom: -1470px;
}
.item-2{
    position: relative;
    left: 55px;
    top: 50px;
} 
.item-3 {
    text-align: center;
    height: 100px;
    width: 300px;
}
.deals{
    color: #6CB840;;
}
.upper-text{
    text-align: center;
}
.hot{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 150px;
}
.footer {
    background-color: #C9ECB5;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 60px;
    padding-top: 100px;
    padding-bottom: 150px;
}
.section-1 {
    float: left;
    margin-left: 40px;
    margin-right: 70px;
    border-right: 2px dotted #6CB840;
    padding-right: 40px;

}
.section-2 {
    float: left;
    margin-right: 100px;
}
.section-3 {
    float: right;
    display: block;
    margin-right: 100px;
}

.section-4 {
    float: right;
    padding-right: 20px;
}