* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }
.main-flex {
    display: flex;
 }
 nav {
     width: auto;
 }
 .backg {
    background-image: url(./Assets/IMG-20210729-WA0001.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 200vh;
    background-color: grey;
 }
ul{
    text-decoration: none;
    list-style: none;
}
.star {
    height: 70px;
    width: 70px;
    background-color: brown;
}
.header {
    width: 100%;
}
.food {
    padding-top: 30px;
    width: 70%;
    justify-content: space-evenly;
}
button {
    margin-top: 20px;
}
.street {
    margin-left: 45px;
}
.one {
    margin-top: 15px;
    margin-bottom: 10px;
}
#eating{
    width: 700px;
    height: 500px;
}
.float {
    float: right;
}
#together {
    flex: 40px left;
    margin-left: 150px;
}
button{
    height: 7vh;
    width: 17vh;
    border-radius: 15vh;
    background-color: #6CB840;
    color: white;
    font-size: 15px;
}
.paragraph{
    padding-left: 30%;
    background-color: #6CB840;
}

.menu{

    text-align: center;
    display: grid;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 50px;
}

#image1,#image2,#image3,#image4,#image5,#image6{
    height: 100px;
    width: 100px;
}
#flex{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.send{
    background-color: #6CB840;
}
.flexcontainer1 {
    display: flex;
    flex-wrap: wrap;
}
.contact{
    background-color: #FFD77C;
    border: 2px;
    text-align: center;
    justify-content: center;
    margin-left:70px;
    margin-right: 70px;
    margin-bottom: 60px;
    padding-top: 100px;
    padding-bottom: 90px;
}
.pack{
    color:#6CB840;
}
.eat{
    text-align: center;

}
.item-1{
    position: absolute;
    bottom: -370vh;
}
.item-2{
    position: relative;
    left: -230px;
    top: 500px;
} 
.item-3 {
    text-align: initial;
    height: 100px;
    width: 300px;
    margin-left: 150vh;
    margin-bottom: 70vh;
}
.item4 {
    text-align: center;
}
.deals{
    color: #6CB840;;
}
.footer {
    background-color: #C9ECB5;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 60px;
    padding-top: 100px;
    padding-bottom: 150px;
}
.section-1 {
    float: left;
    margin-left: 40px;
    margin-right: 70px;
    border-right: 2px dotted #6CB840;
    padding-right: 40px;

}
.section-2 {
    float: left;
    margin-right: 100px;
}
.section-3 {
    float: right;
    display: block;
    margin-right: 100px;
}

.section-4 {
    float: right;
    padding-right: 20px;
}